<!DOCTYPE html>
<html lang="en">


<!-- molla/category.html  22 Nov 2019 10:02:48 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/media/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/media/images/icons/site.html">
    <link rel="mask-icon" href="/media/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/media/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/media/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/media/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/media/css/plugins/nouislider/nouislider.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login Page</title>
  </head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        
                    <div class="header-right">
                  
                      
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="https://live.staticflickr.com/880/26645160997_c5396d71df_z.jpg" alt="Skittish" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="{% url 'indexpage' %}" class="sf-with-ul">Home</a>

                                   
                                </li>
                                <li>
                                   


                                            
                                </li>
                                <li>
                                  

                               
                                </li>
                                <li>
                                   

                                    <ul>
                                        <li>
                                        

                                            <ul>
                                               
                                            </ul>
                                        </li>
                                        <li>
                                         

                                            <ul>
                                                <li><a href="contact.html">Contact 01</a></li>
                                                <li><a href="contact-2.html">Contact 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                    </ul>
                                </li>
                                <li>
                             

                                   
                                       
                                
                                   
                                </li>
                                <li>
                                    

                                   
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->
                  
                    <div class="header-right">
                      

                       

                                     

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->


    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://live.staticflickr.com/880/26645160997_c5396d71df_z.jpg"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                        <form action="" method="post">
                            {% csrf_token %}
                            <h4 class=" text-center">LOGIN FORM</h4>
                            
                            <hr>
                           {% include 'account/alerts.html'%}
                            <div class="form-group">
                                <label for = " "style=" font-weight: 600; font-size: 16px;color: black;">Email Address</label>
                                {{form.email}}
                                {% if form.errors.email %}
                                    <label for="" class="text-danger">{{form.errors.email}}</label>
                                {% endif %}
                            </div>
                            <div class="form-group"style=" font-weight: 600; font-size: 16px;color: black;">
                                <label for = " "style=" font-weight: 600; font-size: 16px;color: black;">Mobile</label>
                                {{form.mobile}}
                                {% if form.errors.mobile %}
                                    <label for="" class="text-danger">{{form.errors.mobile}}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group" style=" font-weight: 600; font-size: 16px;color: black;">
                                <label for = " "style=" font-weight: 600; font-size: 16px;color: black;">Password</label>
                                {{form.password}}
                                {% if form.errors.password %}
                                    <label for="" class="text-danger">{{form.errors.password}}</label>
                                {% endif %}
                            </div>
                                
                            <div class="form-group">
                                <button type="submit" class="btn shadow btn-primary btn-lg  " style="font-size: medium;">LOG IN</button>
                            </div>
                            
                        </form>
                        <p class="text-center"><a href="{% url 'signup' %}">Create an Account</a></p>
                        <p class="text-center">       
                            <a href="{% url 'forgottern' %}" class="text-center">forgot password?</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer footer-dark">

   

    
      </div><!-- End .page-wrapper -->
      <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
      
      <!-- Mobile Menu -->
      <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
      
      <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
         
          
          <nav class="mobile-nav">
              <ul class="mobile-menu">
                  
                  <li>
                      <a href="{% url 'indexpage' %} " class="sf-with-ul">Home</a>
                    
                  </li>
               
             
              </ul>
          </nav><!-- End .mobile-nav -->
      
      
      </div><!-- End .mobile-menu-wrapper -->
      </div><!-- End .mobile-menu-container -->
      
      
      </div>
      <!-- Plugins JS File -->
      <script src="/media/js/jquery.min.js"></script>
      <script src="/media/js/bootstrap.bundle.min.js"></script>
      <script src="/media/js/jquery.hoverIntent.min.js"></script>
      <script src="/media/js/jquery.waypoints.min.js"></script>
      <script src="/media/js/superfish.min.js"></script>
      <script src="/media/js/owl.carousel.min.js"></script>
      <script src="/media/js/bootstrap-input-spinner.js"></script>
      <script src="/media/js/jquery.plugin.min.js"></script>
      <script src="/media/js/jquery.magnific-popup.min.js"></script>
      <script src="/media/js/jquery.countdown.min.js"></script>
      <!-- Main JS File -->
      <script src="/media/js/main.js"></script>
      <script src="/media/js/demos/demo-10.js"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
      
      <script>alertify.set('notifier','position','top-right');</script>
      
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      
        </body>
      </html>